@{
    ViewBag.Title = "MyView";
}



<body class="MyTestBody">
    <h2>MyExampleView - Week02</h2>
    <p class="MyTestParagraph">MyTestParagraphMyTestParagraphMyTestParagraphMyTestParagraph
        MyTestParagraphMyTestParagraphMyTestParagraphMyTestParagraphMyTestParagraph</p>
</body>

